img {
  max-width: 100%;
  max-heigth: 400px;
  position: relative;
}

iframe.video,
iframe.ted {
  display: block;
}

iframe.video,
img {
  margin: 0 auto;
}

img.emoji {
  margin: 0;
  padding: 0;
  border: 0;
  display: inline;
  border-radius: 0;
}

small.date {
  color: #c0c0c0;
  font-size: 75%;
}

.github-cards {
  text-align: center;
}

.avatar {
  margin: 0 auto;
  float: none;
  border: 2px solid #464544;
  margin-top: 20px;
}
.avatar,
.avatar img {
  width: 80px;
  height: 80px;
  border-radius: 80px;
}

.reading-time {
  color: #9a9a9a;
  font-size: 16px;
}
