img {
  max-width: 100%;
  max-heigth: 400px;
  position: relative;
}

iframe.video {
  display: block;
}

iframe.video,
img {
  margin: 0 auto;
}

img.emoji {
  margin: 0;
  padding: 0;
  border: 0;
  display: inline;
  border-radius: 0;
}

small.date {
  color: #c0c0c0;
  font-size: 75%;
}

.github-cards {
  text-align: center;
}
