img {
  max-width: 100%;
  max-heigth: 400px;
  position: relative;
}

iframe.video,
iframe.ted {
  display: block;
}

iframe.video,
iframe.twitter-tweet,
img {
  margin-right: auto !important;
  margin-left: auto !important;
}

img.emoji {
  margin: 0;
  padding: 0;
  border: 0;
  display: inline;
  border-radius: 0;
}

small.date {
  color: #c0c0c0;
  font-size: 75%;
}

.github-cards {
  text-align: center;
}

.avatar {
  margin: 0 auto;
  float: none;
  border: 2px solid #464544;
  margin-top: 30px;
  &, & img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
  }
}

.reading-time {
  color: #9a9a9a;
}

.post {
  h2,
  h3 {
    a {
      display: none;
      margin-left: 10px;
      text-decoration: none;
    }
    &:hover a {
      display: inline;
    }
  }
}

.share {
  small {
    color: #c0c0c0;
    font-size: 75%;
  }
  iframe {
    float: right;
    margin-top: 5px;
  }
}

.masthead-title {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  text-align: center;
}
