<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:site" content="@{{ site.author.twitter }}">
  <meta name="twitter:creator" content="@{{ site.author.twitter }}">

  <meta property="og:type" content="article">
  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="fb:admins" content="{{ site.author.facebook }}">
  <meta name="author" content="{{ site.author.name }}">

  {% if page.date %}
  <meta property="article:published_time" content="{{ page.date | date: "%Y-%m-%d" }}">
  <meta name="description"
    content="{{ page.content | strip_html | truncatewords: 30 | strip_newlines | escape_once }}">
  <meta property="og:description"
    content="{{ page.content | strip_html | truncatewords: 30 | strip_newlines | escape_once }}">
  <meta name="twitter:description"
    content="{{ page.content | strip_html | truncatewords: 30 | strip_newlines | escape_once }}">
  {% else %}
  <meta name="description" content="{{ site.description }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta name="twitter:description" content="{{ site.description }}">
  {% endif %}

  {% if page.cover %}
  <meta property="og:image" content="{{ site.production_url }}{{ page.cover }}">
  <meta name="twitter:image" content="{{ site.production_url }}{{ page.cover }}">
  {% endif %}

  <meta property="og:url" content="{{ site.production_url }}{{ page.url }}">
  <meta name="twitter:url" content="{{ site.production_url }}{{ page.url }}">

  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />
  <link href="/css/up.css" rel="stylesheet">

  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300'
    rel='stylesheet' type='text/css'>
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="apple-touch-icon-57x57-precomposed.png">
  <link rel="shortcut icon" href="/favicon.ico">

</head>

<body>
  {% include navbar.html %}
  {{ content }}

  <div id="footer" class="hidden-print">
    <section class="meta">
      <div class="container">
        <div class="row">
          <div class="col-lg-2 col-lg-offset-4">
            <a href="https://twitter.com/{{ site.author.twitter }}">
              <i class="fa fa-twitter fa-4x"></i>
              <div>Follow me on Twitter</div>
            </a>
          </div>
          <div class="col-lg-2 next">
            <a href="https://github.com/{{ site.author.github }}">
              <i class="fa fa-github fa-4x"></i>
              <div>
                See my github profile
              </div>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>
  {% include analytics.html %}
  {% include gauges.html %}
</body>
<script src="/js/up.min.js"></script>
</html>
