---
layout: layout
---

<section class="content">
  <h1>
    <a href="{{ page.url }}">{{ page.title }}</a>
  </h1>

  <section class="byline">
    {{ page.date | date: "%B %e, %Y" }}
  </section>

  {{ content }}

  <section class="meta">
    <h3>Discussion, links, and tweets</h3>
    <section class="copy">
      <a href="https://twitter.com/caarlos0">
        <img src="http://gravatar.com/avatar/7ef3cd04888c6d17f34d43e29ec3d46f?s=142" height="50" width="50" />
      </a>

      <p>
        I'm a developer at TOTVS S/A, and don't like to talk about myself. See you around! Bye!
      </p>

      <a href="http://twitter.com/share" class="twitter-share-button" data-count="none" data-via="caarlos0">Tweet</a>
      <a href="http://twitter.com/caarlos0" class="twitter-follow-button" data-show-count="false">Follow @caarlos0</a>
      <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
    </section>
  </section>
</section>
