<div class="container">
  <div class="page-header">
    <h1>{{ page.title }} <small><br />{{ page.description }}</small></h1>
    <hr class="soften">
    <h6>
      {% unless page.tags == empty %}
      {% assign tags_list = page.tags %}
      {% include JB/tags_list %}
      {% endunless %} 
      <br />
      Published {{ page.date | date_to_long_string }}
    </h6>
  </div>

  {{ content }}

  {% unless page.github_user == null and page.github_repo == null %}
    <hr class="soften" />
    <h2>github</h2>
    {% assign github_user = page.github_user %}
    {% assign github_repo = page.github_repo %}
    {% include JB/github %}
  {% endunless %}

  <hr class="soften">
  <h2>Related Posts</h2>
    {% for post in site.related_posts limit:5 %}
      <a href="{{ post.url }}">{{ post.title }}</a><br />
    {% endfor %}
  </hr>


  <hr class="soften">

  <div class="well row-fluid">
    <ul class="thumbnails">
      <li class="span2 avatar-span2" >
	<a href="/about" class="thumbnail" rel="tooltip" title="see more info...">
	  <img src="http://www.gravatar.com/avatar/7ef3cd04888c6d17f34d43e29ec3d46f?rating=PG&amp;size=150" alt="Avatar">
	</a>
      </li>
      <li class="span10">
	<h2>About the Author</h2>
	<br />
	<p>
	  <a href="/about" title="see more info">Carlos</a> works in a <a href="http://www.ciphersec.com.br/"> security information company</a>, coding mostly Java (2+ years exp). 
	  He also worked in a lot of other projects using GWT, JSF, and others.
	  Like to pass some hours hacking around Maven and having ideas of cool and helpfull thing to code, but, have no much time to do this...
	  Creator, Architect and developer of <a title="see the demo!" href="http://gwtbootstrap.github.com">GWT-Bootstrap</a> Project. 
	  At the moment, studying Ruby and Ruby on Rails. 
	  He's also Linux and Android user.
	</p>
      </li>
    </ul>
  </div>

  <div class="pagination">
    <ul>
      {% if page.previous %}
	<li class="prev"><a href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a></li>
      {% else %}
	<li class="prev disabled"><a>&larr; Previous</a></li>
      {% endif %}
	<li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
      {% if page.next %}
	<li class="next"><a href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a></li>
      {% else %}
	<li class="next disabled"><a>Next &rarr;</a>
      {% endif %}
    </ul>
  </div>

  <hr class="soften">

  <!-- AddThis Button BEGIN -->
  <div class="addthis_toolbox addthis_default_style ">
    <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
    <a class="addthis_button_tweet"></a>
    <a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
    <a class="addthis_counter addthis_pill_style"></a>
  </div>

  <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=caarlos0"></script>
  <!-- AddThis Button END -->

  <hr class="soften" />

  {% include JB/comments %}
</div> <!-- /container --> 